.promo {
    background-color: $background-gray-color;
    width: 100%;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 125%;
        color: $accent-purple-color;
        margin-bottom: 38px;
    }

    &__descr {
        @include fz20;
        max-width: 644px;
    }
}

.rd {
    padding-top: 93px;
    padding-bottom: 79px;
    .promo__img {
        max-width: 905px;
        max-height: 553px;
        overflow: hidden;
        img {
            @include img;
        }
    }
}