.textandimg {
    display: grid;
    grid-template-columns: 670px 670px;
    column-gap: 30px;
    row-gap: 109px;
    padding-left: 52px;
    .textandimg__block {
        display: grid;
        grid-template-columns: 75px 1fr;
        column-gap: 30px;
        align-items: center;
        .textandimg__img_block {
            display: flex;
            justify-content: flex-end;
            max-width: 75px;
            max-height: 69px;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
        .textandimg__text {
            @include fz20;
        }
    }
}