$accent-purple-color: #401691;
$accent-green-color: #B0CB1F;
$text-black-color: #20232B;
$text-gray-color: #8B8B90;
$background-white-color: #F5F8FA;
$background-gray-color: #EBEBEB;
$main-slider-color: #321493;